<section id="footer">
    <div class="footer-container">
        <div class="logo-strip">
            <img src="//img1.beachbodyimages.com/beachbody/image/upload/bbweb/common/bb_logo_circle_45x43_999.png" title="Beachbody" alt="Beachbody">
            Beachbody<sup>&#174;</sup>
        </div>
        <div class="page-info">
            <p>Consult your physician and follow all safety instructions before beginning this high-intensity and physically demanding exercise program and nutrition plan.</p>
            <p>*Free shipping to U.S. and Canada only. Handling fees may apply.</p>
            <p>&Dagger;Applies to shipments to the continental US only.</p>
            <p>&#8224;Results vary depending on starting point, goals, and efforts. Exercise and proper diet are necessary to achieve and maintain weight loss and muscle definition.</p>
            <p>60-Day Money-Back Guarantee. If you're not satisfied with your results within 60 days, simply call Customer Service for a Return Authorization number to return the program for a full refund of the purchase price, less s&amp;h&mdash;no questions asked.</p>
        </div><!-- end page-info -->
        <div class="global-info">
            <nav class="footer-nav">
                <div class="footer-col">
                    <a href="https://www.beachbody.com">Home</a>
                    <a href="/product/about_us/company_overview.do">About Us</a>
                    <a href="/product/about_us/press.do">Press</a>
                    <a href="/category/newsletters.do">Newsletters</a>
                    <a href="https://teambeachbody.com/connect/message-boards">Message Boards</a>
                </div>
                <div class="footer-col">
                    <a href="https://faq.beachbody.com/app/home/lob/beach">Customer Service</a>
                    <a href="https://faq.beachbody.com/app/chat/chat_launch/lob/beach">Live Chat</a>
                    <a href="https://faq.beachbody.com/app/home/lob/beach">Contact Us</a>
                    <a href="/product/about_us/site_map.do">Site Map</a>
                </div>
                <div class="footer-col last">
                    <a href="/basket.do?nav=%2Fcategory%2Fid%2F4%2F106454">Shopping Cart</a>
                    <a href="/account.do?method=start">My Account</a>
                    <a href="/product/about_us/terms_of_use.do">Terms of Use</a>
                    <a href="/product/about_us/privacy_policy.do">Privacy Policy</a>
                </div>
            </nav>
            <p class="legal">
                &#169; 2015 Beachbody, LLC. All rights reserved. Beachbody, LLC is the owner of The Master's Hammer and Chisel, 21 Day Fix, 21 Day Fix EXTREME, Beachbody, and Team Beachbody trademarks, and all related designs, trademarks, copyrights, and other intellectual property
            </p>
        </div>
    </div>
</section>


